*.pyc
__pycache__
.deprecated
.vscode
.pytest_cache
.ipynb_checkpoints
.coverage*
.venv


ideas
projects

build
dist
*.egg-info


node_modules
.DS_Store
src/StreamJSME/_version.py
src/StreamJSME/static
